<div class="">
	<div class="flex justify-between items-end w-full px-32 py-6 bg-stone-600 text-white">
		<div class="flex flex-col">
			<div class="font-bold py-4">Support & Feedback</div>
			<a href="#">Customer Support</a>
			<a href="#">Feedback</a>
		</div>

		<div class="flex flex-col text-center">
			<div class="font-bold py-4">Support & Feedback</div>
			<a href="#">Customer Support</a>
			<a href="#">Feedback</a>
		</div>

		<div class="flex flex-col text-slate-300 items-end">
			<div class="my-4 text-xs text-slate-300">
				<div>Sneha Shakya</div>
				<div>+977 1234567890</div>
			</div>

			<div>
				<a href="https://instagram.com">
					<i class="fa-brands fa-instagram"></i>
				</a>

				<a href="https://facebook.com">
					<i class="fa-brands fa-facebook"></i>
				</a>

				<a href="https://tiktok.com">
					<i class="fa-brands fa-tiktok"></i>
				</a>

				<a href="https://x.com">
					<i class="fa-brands fa-x-twitter"></i>
				</a>
			</div>
			<p class="">
				&copy
				<span class="text-sm font-thin">Gantavya 2024</span>
			</p>
		</div>
	</div>
</div>