{% load static %}

<div class="aboreto-light flex w-full justify-between px-8 sm:px-16">
    <a href="/" class="flex-none">
        <img
            src="{% static 'logo.png'  %}"
            alt="Gantavya Logo"
            height="128"
            width="128"
        />
    </a>
    <div class="flex items-center gap-8">
        {% if user.is_authenticated %}

        <div class="relative">
            <div class="flex gap-4 items-center">
                <a href="#">
                    <i class="fa-solid fa-bell text-amber-400"></i>
                </a>
                <button
                    onclick="toggle_dropdown()"
                    class="bg-amber-400 flex gap-4 items-center border rounded-full px-4 py-2 transition hover:bg-amber-300 active:bg-amber-400 focus:ring focus:ring-amber-200"
                >
                    <img
                        src="{{ user.profile_picture.url }}"
                        class="w-8 h-8 rounded-full"
                        alt="{{ user.username }}"
                    />
                    <i class="fa-solid fa-caret-down"></i>
                </button>
            </div>

            <!-- Dropdown Menu -->
            <div
                id="profile-dropdown"
                class="hidden absolute right-0 mt-3 w-48 bg-white border rounded-lg shadow-lg z-10"
            >
                <ul class="py-2 text-gray-700">
                    <li>
                        <a
                            href="{% url 'profile' %}"
                            class="block px-4 py-2 transition hover:bg-amber-400 hover:text-white"
                        >
                            Profile
                        </a>
                    </li>
                    <li>
                        <a
                            href="#"
                            class="block px-4 py-2 transition hover:bg-amber-400 hover:text-white"
                        >
                            Settings
                        </a>
                    </li>

                    <li>
                        <hr class="my-1 border-gray-300" />
                    </li>
                    <li>
                        <a
                            href="{% url 'logout' %}"
                            class="block px-4 py-2 transition hover:bg-amber-400 hover:text-white"
                        >
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        {% else %}
        <div class="flex justify-end gap-4">
            <a href="{% url 'register' %}">
                <button
                    class="btn-primary px-4 py-2 transition hover:opacity-90"
                >
                    SignUp
                </button>
            </a>

            <a href="{% url 'login' %}">
                <button
                    class="btn-primary px-4 py-2 transition hover:opacity-90"
                >
                    Login
                </button>
            </a>
        </div>

        {% endif %}
    </div>
</div>

{% block javascript %}
<script>
    var toggle_dropdown = () => {
        let dropdown = document.getElementById('profile-dropdown')
        dropdown.classList.toggle('hidden')
    }

    document.addEventListener('click', (event) => {
        let dropdown = document.getElementById('profile-dropdown')
        let button = document.querySelector(
            "button[onclick='toggle_dropdown()']"
        )

        if (
            !dropdown.contains(event.target) &&
            !button.contains(event.target)
        ) {
            dropdown.classList.add('hidden')
        }
    })
</script>
{% endblock javascript %}
