<div class="flex w-full justify-between py-8 px-16">
	<a href="/"
		class="flex-none"
	>
		Logo
	</a>

	{% if user.is_authenticated %}
	<div class="flex gap-8">
		<a href="#">
			<img height="16"
				width="16"
				src="#"
				alt="{{ user.username }}"
				class="rounded-full"
			>
		</a>

		<a href="{% url 'logout' %}">
			<button class="btn-primary">
				Logout
			</button>
		</a>
	</div>

	{% else %}
	<div>
		<div class="flex justify-end gap-4">
			<a href="{% url 'login' %}">
				<button class="btn-primary">
					Login
				</button>
			</a>

			<a href="{% url 'register' %}">
				<button class="btn-primary">
					Register
				</button>
			</a>
		</div>
	</div>

	{% endif %}
</div>
