{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport"
		  content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>

	<link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
		  rel="stylesheet"
		  type="text/css">
	<link href="{% static 'fontawesomefree/css/brands.css' %}"
		  rel="stylesheet"
		  type="text/css">
	<link href="{% static 'fontawesomefree/css/solid.css' %}"
		  rel="stylesheet"
		  type="text/css">

	<title>
		{% block title %}

		{% endblock %}
	</title>

<body class="flex flex-col justify-between min-h-screen">
{% block main %}

{% endblock main %}
</body>

<style type="text/tailwindcss">
	@layer utilities {
		.btn-primary {
			background-color: rgb(132 204 22);

			padding: 8px 16px;

			border: 1px;
			border-radius: 20px;
		}

		.btn-primary:hover {
			background-color: rgb(163 230 53);
		}

		.btn-primary:active {
			background-color: rgb(101 163 13);
		}
	}
</style>


{% block javascript %}
{% endblock javascript %}


</html>
