{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no"
	/>
	<link rel="icon" href="{% static 'logo.png' %}" />
	<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>

	<link rel="preconnect"
		href="https://fonts.googleapis.com"
	>
	<link rel="preconnect"
		href="https://fonts.gstatic.com"
		crossorigin
	>
	<link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap"
		rel="stylesheet"
	>

	<link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
		rel="stylesheet"
		type="text/css"
	>
	<link href="{% static 'fontawesomefree/css/brands.css' %}"
		rel="stylesheet"
		type="text/css"
	>
	<link href="{% static 'fontawesomefree/css/solid.css' %}"
		rel="stylesheet"
		type="text/css"
	>
	<link href="{% static 'assets/css/index.css' %}"
		rel="stylesheet"
		type="text/css"
	>


	<title>
		{% block title %}

		{% endblock %}
	</title>

<body class="flex flex-col justify-between min-h-screen">
{% block main %}

{% endblock main %}
</body>

{% block javascript %}
{% endblock javascript %}


</html>
