{% extends '_base.html' %}

{% block title %}
Login
{% endblock %}

{% block main %}
<div class="flex items-center justify-center h-screen">
	<div class="px-24 py-12 border rounded-md">
		<div class="mx-auto w-full max-w">
			<h1 class="mt-10 text-center text-2xl font-bold leading-9
						tracking-tight text-gray-900 aboreto-bold"
			>
				Welcome!!
			</h1>
			{% if msg %}
			<div class="text-red-700 text-center aboreto-regular">
				{{ msg }}
			</div>
			{% endif %}
		</div>

		<div class="mt-10 mx-auto w-full max-w-sm">
			<form class="space-y-4"
				method="POST"
			>
				{% csrf_token %}
				<div>
					<label for="username"
						class="block text-sm font-medium leading-6
						   			text-gray-900 aboreto-regular"
					>
						Username
					</label>
					<div class="mt-2">
						{{ form.username }}
						<div class="text-red-700 aboreto-regular">
							{{ form.username.errors }}
						</div>
					</div>
				</div>

				<div>
					<div class="flex items-center justify-between">
						<label for="password"
							class="block text-sm font-medium leading-6
							   			text-gray-900 aboreto-regular"
						>
							Password
						</label>
						<div class="text-sm">
							<a href=""
								class="font-semibold text-amber-600
							   			hover:text-amber-400 aboreto-regular transition-all"
							>
								Forgot password?
							</a>
						</div>
					</div>
					<div class="mt-2">
						{{ form.password }}
						<div class="text-red-700 aboreto-regular">
							{{ form.password.errors }}
						</div>
					</div>
				</div>

				<div class="flex flex-col text-center">
					<button type="submit"
						class="btn-primary mb-2 aboreto-regular transition-all"
					>Sign in
					</button>

					<span class="mb-2 aboreto-regular">Or</span>

					{% load socialaccount %}
					<button class="btn-primary aboreto-regular transition-all"
						onclick="window.location.href = '{% provider_login_url 'google' %}' "
						type="button"
					>
						<span>
							<i class="fa-brands fa-google"></i>
							<b>Sign in with Google</b>
						</span>
					</button>
				</div>

			</form>

			<p class="mt-10 text-center text-sm text-gray-500 aboreto-regular">
				Want to Signup?
				<a href="{% url 'register' %}"
					class="font-semibold leading-6 text-amber-600
				   			hover:text-amber-400 aboreto-regular transition-all"
				>
					Register Now
				</a>
			</p>
			<a href="/"
				class="mt-2 text-sm block text-center font-semibold
			   			leading-6 text-amber-600 hover:text-amber-400 aboreto-regular transition-all"
			>
				Back to homepage
			</a>
		</div>
	</div>
</div>
{% endblock %}
