{% extends "_base.html" %}

{% block title %}
Register
{% endblock title %}

{% block main %}
<div class="flex flex-col items-center justify-center px-6 py-12 h-screen">
	<div class="px-24 py-12 border rounded-md">
		<div>
			<h1 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900 aboreto-bold">
				Just One More Step
			</h1>
		</div>

		<div class="mt-10 mx-auto max-w">
			<form class="space-y-4"
				method="post"
			>
				{% csrf_token %}

				<div>
					<div class="flex items-center justify-between">
						<label for="username"
							class="block text-sm font-medium leading-6 text-gray-900 aboreto-regular"
						>
							Username
						</label>
					</div>
					<div class="mt-2">
						{{ form.username }}
						<div class="text-red-700 aboreto-regular">
							{{ form.username.errors }}
						</div>
					</div>
				</div>

				<div>
					<div class="flex items-center justify-between">
						<label for="password"
							class="block text-sm font-medium leading-6 text-gray-900 aboreto-regular"
						>
							Password
						</label>
					</div>
					<div class="mt-2">
						{{ form.password1 }}
						<div class="text-red-700 aboreto-regular">
							{{ form.password1.errors }}
						</div>
					</div>
				</div>

				<div>
					<div class="flex items-center justify-between">
						<label for="password2"
							class="block text-sm font-medium leading-6 text-gray-900 aboreto-regular"
						>
							Confirm Password
						</label>
					</div>
					<div class="mt-2">
						{{ form.password2 }}
						<div class="text-red-700 aboreto-regular">
							{{ form.password2.errors }}
						</div>
					</div>
				</div>

				<div class="flex flex-col text-center">
					<button type="submit"
						class="btn-primary mb-2 aboreto-regular transition-all"
					>
						Continue
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock main %}
