{% extends "includes/layout.html" %}

{% load static %}

{% block title %}
About
{% endblock %}

{% block content %}
<div class="h-screen">
	<div class="max-w-4xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
		<h1 class="text-3xl font-bold text-gray-900 mb-4">
			About Gantavya
		</h1>
		<p class="text-lg text-gray-700 mb-4">
			Welcome to Gantavya,
			<br>
			Gantavya aims to provide a seamless and efficient platform for
			users to explore, plan, and book their trips with ease. Whether it's
			a business trip or a vacation, our goal is to ensure a hassle-free
			experience tailored to your preferences.
		</p>
		<p class="text-lg text-gray-700">
			Contact us for more information.
		</p>
	</div>
</div>
{% endblock content %}